* {
    box-sizing: border-box;
}

:root {
    --main-color: #1e708d;
    --main-color-alt: #145c75;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    --nav-height: 72px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;

}

a {
    text-decoration: none;
    color: inherit;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    padding: 0 16px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .brand-name {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .header .brand-name {
        width: 100%;
        height: 50px;
    }
}

header .main-nav ul {
    display: flex;
}

@media (max-width: 768px) {
    header .main-nav ul {
        margin: auto;
    }
}

header .main-nav>ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--nav-height);
    color: black;
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    transition: var(--main-transition);
}

@media (max-width:768px) {
    header .main-nav>ul>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .main-nav>ul>li>a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);

}

header .main-nav>ul>li>a:hover {
    color: var(--main-color-alt);
    background-color: #fafafa;
}

header .main-nav>ul>li>a:hover::before {
    left: 0;
}

/* menu toggle */
#menu-checkbox {
    display: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 2px;
    transition: var(--main-transition);
}

/* Toggle for Medium screens */
@media (max-width: 992px) {
    .menu-toggle {
        display: flex;
    }

    header .main-nav {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
    }

    header .main-nav ul {
        flex-direction: column;
        width: 100%;
    }

    header .main-nav ul li a {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    #menu-checkbox:checked~.main-nav {
        display: flex;
    }

    #menu-checkbox:checked+.menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 5px);
    }

    #menu-checkbox:checked+.menu-toggle span:nth-child(2) {
        opacity: 0;
    }

    #menu-checkbox:checked+.menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -5px);
    }
}

/* End Header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width:991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 30px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width:768px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 20px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
}

@media (max-width:768px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width:991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .image img {
    position: relative;
    width: 500px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(50%);
    transition: var(--main-transition);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

.landing .go-down i:hover {
    color: var(--main-color-alt);
}

/* End Landing */
/* Start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
    }
}

/* End animation */